@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  line-height: 25px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: royalblue;
}
.navbar .logo {
  height: 60px;
}
.navbar .logo .logo__img {
  height: 100%;
}
.navbar .navbar__list {
  display: flex;
  width: 50%;
  justify-content: space-around;
  z-index: 2;
}
.navbar .navbar__list .navbar__item {
  list-style: none;
}
.navbar .navbar__list .navbar__item .navbar__link {
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 1.1em;
  transition: 0.3s;
}
.navbar .burger {
  display: none;
}
.navbar .burger .burger__line {
  display: block;
  width: 25px;
  height: 3px;
  border-radius: 2px;
  margin: 5px;
  background-color: black;
}

@media (max-width: 800px) {
  body {
    overflow-x: hidden;
  }

  .navbar .logo {
    height: 60px;
  }
  .navbar .navbar__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    transform: translateX(100%);
    transition: all 0.3s ease-in;
  }
  .navbar .navbar__list .navbar__item {
    opacity: 0;
  }
  .navbar .burger {
    display: block;
    cursor: pointer;
  }
  .navbar .burger .burger__line {
    transition: all 0.3s ease;
  }
}
.navbar__list.navbar__list--active {
  transform: translateX(0%);
}

.toggle .burger__line--line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .burger__line--line2 {
  opacity: 0;
}

.toggle .burger__line--line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media (max-width: 1200px) {
  .navbar .navbar__list {
    width: 100%;
  }
}
@keyframes navlinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(-50px);
  }
}
.informative {
  max-width: 1200px;
  margin: 60px auto;
  align-items: center;
}
.informative .informative__heading {
  text-align: center;
  margin: 30px auto;
  font-size: 1.8em;
}
.informative .informative_subheader {
  text-align: center;
  font-weight: 400;
}