@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  line-height: 25px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.horizontal__line {
  display: block;
  height: 1px;
  border-radius: 5px;
  width: 80%;
  background-color: royalblue;
  margin: 10px auto;
  opacity: 0.6;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: royalblue;
}
.navbar .logo {
  height: 60px;
}
.navbar .logo .logo__img {
  height: 100%;
}
.navbar .navbar__list {
  display: flex;
  width: 50%;
  justify-content: space-around;
  z-index: 2;
}
.navbar .navbar__list .navbar__item {
  list-style: none;
}
.navbar .navbar__list .navbar__item .navbar__link {
  text-decoration: none;
  color: lightgray;
  letter-spacing: 2px;
  font-size: 1.1em;
  transition: 0.3s;
}
.navbar .burger {
  display: none;
}
.navbar .burger .burger__line {
  display: block;
  width: 25px;
  height: 3px;
  border-radius: 2px;
  margin: 5px;
  background-color: black;
}

@media (max-width: 800px) {
  body,
html {
    overflow-x: hidden;
    position: relative;
  }

  .navbar .logo {
    height: 60px;
  }
  .navbar .navbar__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: royalblue;
    transform: translateX(100%);
    transition: all 0.3s ease-in;
  }
  .navbar .navbar__list .navbar__item {
    opacity: 0;
  }
  .navbar .burger {
    display: block;
    cursor: pointer;
  }
  .navbar .burger .burger__line {
    transition: all 0.3s ease;
  }
}
.navbar__list.navbar__list--active {
  transform: translateX(0%);
}

.toggle .burger__line--line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .burger__line--line2 {
  opacity: 0;
}

.toggle .burger__line--line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media (max-width: 1200px) {
  .navbar .navbar__list {
    width: 100%;
  }
}
@keyframes navlinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(-50px);
  }
}
.informative {
  max-width: 1200px;
  margin: 60px auto;
  align-items: center;
}
.informative .informative__heading {
  text-align: center;
  margin: 30px auto;
  font-size: 2em;
}
.informative .informative_subheader {
  text-align: center;
  font-weight: 400;
}

.params {
  font-weight: 700;
}
.params .param__form {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.params .param__form .param__row {
  margin: 40px;
  font-size: 1.3em;
}
.params .param__form .param__row .gender__label {
  margin: 15px;
}
.params .param__form .param__row .gender__label #gender__value {
  width: 15vw;
}
.params .param__form .age__input,
.params .param__form .weight__input,
.params .param__form .height__input {
  margin: 20px 10px;
  width: 30vw;
}
.params .param__form .activity__label {
  margin: 20px;
}
.params .param__form .activity__label #activity__level {
  width: 40vw;
}
.params .param__form .calculate__btn {
  width: 200px;
  margin: 20px auto;
  background-color: royalblue;
  padding: 30px;
  font-size: 1.3em;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.flex__wraper {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.flex__wraper .results__section {
  margin: 40px 10px;
  background-color: cornsilk;
  border-radius: 20px;
}
.flex__wraper .results__section .results__header {
  margin: 30px 0;
  font-size: 1.3em;
}
.flex__wraper .results__section .results__header .results__heading {
  line-height: 35px;
}
.flex__wraper .results__section .calories__display .calories__perday,
.flex__wraper .results__section .calories__display .calories__perweek {
  display: flex;
  justify-content: space-around;
  margin: 35px 0;
  font-size: 1.4em;
}
.flex__wraper .stats__info {
  font-size: 1.2em;
}
.flex__wraper .stats__info .stats__text {
  margin: 30px 10px;
}
.flex__wraper .stats__info .stats__text .stats__calories {
  font-weight: 700;
}
.flex__wraper .stats__info .calrate {
  display: flex;
}

.ideal-weight__wraper {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.ideal-weight__wraper .ideal__weight {
  margin: 40px auto;
}
.ideal-weight__wraper .ideal__weight .ideal__header {
  margin: 30px 0;
  font-size: 1.3em;
}
.ideal-weight__wraper .ideal__weight .ideal__header .ideal__heading {
  line-height: 35px;
}
.ideal-weight__wraper .ideal__weight .ideal__text {
  font-size: 1.3em;
}
.ideal-weight__wraper .ideal__weight .ideal__text .ideal__bold {
  font-weight: 700;
}
.ideal-weight__wraper .ideal__weight .calrate {
  display: flex;
  justify-content: space-around;
  font-size: 1.2em;
}

.bmi__wraper {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.bmi__wraper .bmi .bmi__header {
  margin: 40px auto;
}
.bmi__wraper .bmi__text {
  margin: 40px auto;
}
.bmi__wraper .bmi__text .bmi__classified,
.bmi__wraper .bmi__text .bmi__span {
  font-weight: 700;
}
.bmi__wraper .calrate {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}