.bmi__wraper {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 60px;

    .bmi {
        .bmi__header {
            margin: 40px auto;
            font-size: 1.2em;
        }
    }

    .bmi__text {
        margin: 40px 0;
        font-size: 1.2em;

        .bmi__classified,
        .bmi__span {
            font-weight: $font-bold;
        }
    }

    .calrate {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 15px 0;
        font-size: 1.2em;
    }
}