.bmi__wraper {
    display: flex;
    flex-direction: column;
    text-align: center;

    .bmi {
        .bmi__header {
            margin: 30px auto;
            font-size: 1.2em;
        }
    }

    .bmi__text {
        margin: 40px auto;
        font-size: 1.2em;

        .bmi__classified,
        .bmi__span {
            font-weight: $font-bold;
        }
    }

    .calrate {
        display: flex;
        justify-content: space-around;
        margin: 20px;
        font-size: 1.2em;
    }
}