.contact-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4em 15px;
  text-align: center;

  .contact-h1 {
    font-size: 2em;
    margin: 20px auto;
    font-weight: $font-medium;

    .contact-blue {
      color: $darkcontrast;
    }
  }

  .contact-h2 {
    margin: 1em auto;
    font-size: 1.4em;
    font-weight: $font-normal;
  }
}

.contact-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 53vh;

  .contact-form {
    margin-bottom: 50px;
    div input {
      margin: 1em auto;
      height: 2.5em;
      font-size: 1.1em;
      width: 70vw;
      padding: 0.7em;
    }

    textarea {
      resize: none;
      width: 70vw;
      padding: 0.7em;
      font-size: 1.1em;
    }

    .form-header {
      font-size: 1.3em;
      margin-bottom: 10px;
    }
  }

  .contact-details {
    margin: 0 0 2em 0;
    font-size: 1.2em;

    .contact-me {
      margin: 10px 0;
      font-size: 1.2em;
      font-weight: $font-normal;
    }
  }
}

@media (min-width: 800px) {
  .contact-main {
    flex-direction: row;
    justify-content: space-evenly;

    .contact-form {
      margin-right: 80px;

      div input {
        width: 40vw;
        margin-bottom: 30px;
      }

      textarea {
        width: 40vw;
      }
    }

    .contact-header {
      .contact-h1 {
        font-size: 2.2em;
      }
    }

    .contact-details {
      font-size: 1.5em;
      margin: auto 4em;
      padding-bottom: 4em;
    }
  }
}
