.footer {
    background-color: $darkcontrast;
    color: $main;
    font-size: 1.2em;

    .footer__column {
        display: flex;
        flex-direction: column;
        align-content: space-between;

        .copyright__flex {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px 0 30px 0;
            font-size: 1em;

            .footer__copyright {
                height: 15px;
                margin-right: 5px;
            }
        }

        .contact__flex {
            display: flex;
            justify-content: center;

            margin: 20px 0;

            .footlink {
                padding: 10px 30px;
                text-decoration: none;
                color: $main;
                cursor: pointer;
            }
        }
    }
}