.informative {
    max-width: 1200px;
    margin: 60px auto;
    align-items: center;

    .informative__heading {
        text-align: center;
        margin: 30px auto;
        font-size: 2em;
    }

    .informative_subheader {
        text-align: center;
        font-weight: $font-normal;
    }
}