
.params {

    .param__form {
        

        .param__wrap {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            width: 70vw;

            .param__label {
                font-size: 1.1em;
                margin-bottom: 4px;
            }

            .param__value {
                height: 40px;
                font-size: .9em;
                margin-bottom: 15px;
                padding: 0 7px;
                border: 1px solid rgb(170, 170, 170);
           }

            #gender__value,
            #activity__level {
                cursor: pointer;
                background-color: white;
            }

            .calculate__btn {
                margin: 40px auto;
                border-radius: 12px;
                border: none;
                background-color: $darkcontrast;
                color: #fff;
                font-size: 1.2em;
                padding: .7em 2.8em;
                cursor: pointer;
                transition: .3s;

                &:focus {
                    outline: none;
                }
            }
        }
    }
}

@media(min-width:1200px) {
    .params {
        .param__form {
            .param__wrap {
                width: 30vw;
                margin: 50px 100px;

                .calculate__btn {
                    margin: 30px auto;
                }
                .param__value{
                    font-size: 1em;
                }
            }
        }
    }
}