.params {

    .param__form {
        

        .param__wrap {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            width: 60vw;

            .param__label {
                font-size: 1.1em;
            }


            .param__value {
                height: 40px;
                font-size: 1em;
                margin-bottom: 15px;
            }

            #gender__value,
            #activity__level {
                cursor: pointer;
            }





            .calculate__btn {
                margin: 40px auto;
                border-radius: 20px;
                border: none;
                background-color: $darkcontrast;
                color: #fff;
                font-size: 1.2em;
                padding: .4em 2.5em;
                cursor: pointer;
                transition: .3s;

                &:focus {
                    outline: none;
                }
            }

        }
    }
}

@media(min-width:1200px) {
    .params {
        .param__form {
            .param__wrap {
                width: 30vw;
                margin: 50px 100px;

                .calculate__btn {
                    margin: 30px auto;
                }
            }
        }
    }
}