.qa {
    max-width: 1200px;
    margin: 0 auto;
    .qa__header {
        .qa__heading {
            text-align: center;
            font-size: 2.5em;
margin: 40px 0;
        }

        .qa__text {
            font-size: 1.3em;
            margin: 30px;
        }
    }
}