.qa {
    max-width: 1200px;
    margin: 0 auto;
    .qa__header {
        .qa__heading {
            text-align: center;
            font-size: 3em;
            padding: 1em;
        }

        .qa__text {
            font-size: 1.4em;
            margin: 30px;
        }
    }
}