.qa-box {
    max-width: 1200px;
    margin: 40px auto;
    width: 90%;
    border-radius: 20px;
    border-top: none;
    background-color: $contrast;
    color: $main;


    .qa-box__title {
        background-color: $darkcontrast;
        color: $white;
        padding: 20px;
        border-radius: 19px 19px 0 0;
        font-size: 1.2em;
        font-weight: $font-normal;

    }

    .qa-box__text {
        margin: 20px;
        // font-size: 1.1em;
        line-height: 1.4em;
        padding: 10px;
    }
}

@media(min-width: 1200px){
    .qa-box{
        .qa-box__text{
            font-size: 1.1em;
        }
    }
}