.square__flex {
    display: flex;
    flex-direction: column;
}

.macro__square {
    background-color: $contrast;
    border: 2px solid $main;
    color: $main;
    max-width: 450px;
    min-width: 320px;
    margin: 25px auto;
    margin-bottom: 40px;
    border-radius: 30px;
    padding: 10px;

    .protein,
    .fats,
    .carbs {
        font-size: 1.2em;

        .macro-big {
            font-size: 1.5em;
            font-weight: $font-bold;
            margin: 10px 0;
            text-align: center;
        }

        .macro-text {
            margin: 10px;
            text-align: center;
        }
    }

    .protein,
    .fats {
        &:after {
            content: "";
            display: block;
            height: 2px;
            width: 80%;
            margin: 0 auto;
            background-color: $darkcontrast;
        }
    }
}

@media(min-width: 600px){
    .macro__square {
        min-width:400px;
    }

}

@media(min-width: 1000px) {
    .square__flex {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .macro__square {
        max-width: 300px;
    }
}

@media(min-width: 1400px) {

    .macro__square {
        max-width: 360px;
        min-width: 360px;
    }
}