.standard-btn {
    margin: 40px auto;
    border-radius: 10px;
    border: none;
    background-color: $darkcontrast;
    color: #fff;
    font-size: 1.2em;
    padding: .4em 2.5em;
    cursor: pointer;
    transition: .3s;

    &:focus {
        outline: none;
    }

  
}